<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Order Confirmation</title>
  </head>
  <body>
    <p>A new reply added to the question in the video</p>
    <p>Please login to see the website link</p>
    <p>Thank you for being a part of our cummunity!</p>
  </body>
</html>
